    <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" data-setbg="{{ site.baseurl }}/assets/img/footer-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6"> 
                    <div class="fs-logo">
                        <div class="logo">
                            <a href="./index.html"><img src="{{ site.baseurl }}/assets/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li><i class="fa fa-phone"></i> +44 (0)1354 696968 </li>
                            <li><i class="fa fa-envelope-open"></i> 8 Dock Road, Chatteris, PE16 6RE </li>
                        </ul>
                        <div class="fs-social">
                            <a href="https://www.facebook.com/groups/ToyotaSprintSeries/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/toyotasprintseries/" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 offset-lg-1">
                    <div class="fs-widget">
                        <h4>Pages</h4>
                        <ul class="fw-links">
                            <li><a href="{{ site.baseurl }}/">Home</a></li>
                            <li><a href="{{ site.baseurl }}/events/">Events</a></li>
                            <li><a href="{{ site.baseurl }}/regulations/">Regulations</a></li>
                            <li><a href="{{ site.baseurl }}/results/">Results</a></li>
                            <li><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
                        </ul>
                        <ul class="fw-links">
                            <li><a href="{{ site.baseurl }}/gallery/">Gallery</a></li>
                            <li><a href="{{ site.baseurl }}/contact">Contact Us</a></li>
                            <li><a href="http://www.javelinsprintdays.co.uk/sprint/" target="_blank">Javelin Track Days</a></li>
                            <li><a href="https://www.javelintrackdays.co.uk/trackdays/Sprint-Events/JTSS" target="_blank">Booking website</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container">
            <div class="copyright-option">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="co-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Toyota Sprint Series 
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="co-widget">
                            <ul>
                                <li><a href="{{ site.baseurl }}/terms/">Terms of Use</a></li>
                                <li><a href="{{ site.baseurl }}/privacy/">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

   

    <!-- Js Plugins -->
    <script src="{{ site.baseurl }}/assets/js/jquery-3.3.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.slicknav.js"></script>
    <script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>

    <!-- {% if page.mathjax  %}
<script type="text/javascript" async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
{% endif %} -->