---
layout: default
---

 <!-- Breadcrumb Section Begin -->
 <section class="breadcrumb-section set-bg" data-setbg="{{ site.baseurl }}/assets/img/hero/Slider01-1200x400.png">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="bs-text">
                  <h2>{{page.hero_title}}</h2>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Schedule Section Begin -->
<section class="schedule-section spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 left-blog-pad">
              <div class="schedule-text">
                  <h1 class="st-title">{{page.page_title}}</h1>
{{content}}


</div>
</div>

</div>
</div>
</div>
</section>
<!-- Schedule Section End -->
